.container {
	width: 100vw;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	overflow-x: hidden !important;
}

.map-container {
	height: 80vh;
	width: 100vw;
}

.mapboxgl-ctrl-bottom-right,
.mapboxgl-control-container {
	opacity: 0;
	visibility: hidden;
}

.dot {
	width: 20px;
	height: 20px;
	border-radius: 30px;
	border-color: rgb(255, 255, 255);
	border-width: 4px;
	border-style: solid;
	overflow: hidden;
}

.controller {
	width: 20px;
	height: 20px;
	border-radius: 5px;
	border-color: rgb(255, 255, 255);
	border-width: 6px;
	border-style: solid;
	overflow: hidden;
}
